
Select,button
{
    color: rgb(33,33,00) !important;
    font-family: Book Antiqua !important;
    font-size: 20px !important;
    vertical-align: middle !important;
}

div{
 
    font-family: Book Antiqua !important;
    font-size: 20px !important;
    vertical-align: middle !important;

}
